.main-charts_section {
  margin: 150px 0;
}
.main-chart_card {
  border-radius: 100px;
  background-color: var(--bg);
  height: 100%;
  z-index: 1;
  position: static;
  &::before {
    content: "";
    position: absolute;
    width: 105%;
    height: 105%;
    border-radius: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    background: linear-gradient(
      143deg,
      rgb(40, 0, 35) 0%,
      rgb(255, 46, 224) 70%
    );
  }
}
.main-chart {
  width: 100%;
  display: flex;
  border-radius: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../images/bg-nebula.jpg");
}
.main-chart_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  border-radius: inherit;
  background-color: rgba(26, 0, 51, 0.73);
}
.main-chart h3 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  border-radius: inherit;
}
.main-chart img {
  width: 2rem;
  height: 2rem;
}
.main-chart_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 100%;
  border-radius: 100px;
  background-color: rgb(20, 2, 20);
}
.main-chart_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  text-align: center;
  border-radius: inherit;
}
.main-chart_head a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}
.charts_slider {
  &.swiper {
    padding: 50px;
  }
  .swiper-slide {
    height: unset;
  }
}
@media screen and (max-width: 1300px) {
  .main-chart_card {
    width: 300px;
  }
}
@media screen and (max-width: 1120px) {
  .main-charts_section {
    gap: 30px;
  }
  .main-chart_content {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1060px) {
  .main-charts_section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .main-chart_card {
    min-height: fit-content;
    width: 250px;
    border-radius: 70px;
  }
  .main-chart_content {
    height: 150px;
  }
}
