:root {
  --bg: rgb(18, 11, 36);
  --bg-dark: rgb(10, 6, 20);
  --txt: #fff;
  --blue: rgb(123, 210, 213);
  --dark-blue: #1e5688;
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
}
.details-page {
  padding: 2rem 5% 5rem;
}
.details-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.details-heading h1 {
  display: flex;
  align-items: center;
  font-size: 34px;
  gap: 1rem;
  color: gold;
}
.icon {
  width: 3.5rem;
  margin-right: 1.5rem;
}
.coin-stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #fff;
}
.details-stats, .other-stats {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}
.coin-stats-name {
  display: flex;
  gap: 1rem;
}
.coin-stats h2 {
  color: var(--gold);
}
.details-desc {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.coin-links {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.coin-links h2 {
  margin-bottom: 1rem;
  color:rgb(239, 203, 44);
}
.coin-link {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #fff;
}
.coin-link {
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}
.coin-link a {
  color:rgb(239, 203, 44);
}
.coin-link a:hover {
  color: var(--txt-pink);
}
.stats-box {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin: 5rem 0;
}
.coin-desc h3{
  margin: 1rem 0;
  color:rgb(239, 203, 44);
}
.desc h2 {
  margin: 0 0 1rem;
  display: flex;
  align-items: center;
  color:rgb(239, 203, 44);
}
.desc .icon {
  width: 2rem;
  margin: 0 0.5rem 0 1rem;
}
.desc a {
  color: rgb(239, 203, 44);
}
.desc a:hover {
  color: var(--txt-pink);
}
.btn-ex {
  margin-top: 0.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.481);
}
.btn-ex.inactive {
  background-color: rgba(255, 191, 0, 0.7);
  color: rgba(255, 191, 0, 0.9);
}
.details-heading {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
#time {
  font-family: 'Titillium Web', sans-serif;
  border-radius: 10px;
  padding: 0 0.2rem;
  border: none;
}
#time option{
  font-family: 'Titillium Web', sans-serif;
  border-radius: 10px;
  padding: 0 0.2rem;
  border: none;
}
.select {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
.details-chart-box {
  position: relative;
}
@media screen and (max-width: 670px) {
  .stats-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details-desc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}