:root {
  --bg: rgb(18, 11, 36);
  --bg-dark: rgb(10, 6, 20);
  --txt: rgb(207, 207, 207);
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
}
.hero-box {
  display: flex;
  width: 100%;
  max-height: 90vh;
  z-index: 0;
}
.hero-img-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.hero-img {
  margin: 1rem;
  width: 24rem;
  height: 24rem;
  background-image: url("../../images/hero-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  z-index: -1;
}
.hero-img-dec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: -25rem;
  height: 60rem;
  width: 28rem;
  border-radius: 300px;
  background: url("../../images/bg-nebula.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -55rem;
  background-position-y: 15rem;
  z-index: -1;
}
.hero-img-border {
  width: 26rem;
  border-radius: 100%;
  background: rgb(65, 0, 57);
  background: linear-gradient(
    143deg,
    rgb(40, 0, 35) 0%,
    rgba(255, 46, 224, 1) 70%
  );
  background-position: center;
  margin: 1rem;
  position: relative;
  box-shadow: 0px 10px 80px 80px rgba(201, 2, 214, 0.2);
}
.hero-astr {
  position: absolute;
  width: 60rem;
  top: -1rem;
  right: -15rem;
}
.hero-logo {
  position: absolute;
  right: -3rem;
  bottom: -1rem;
  width: 8rem;
  height: 8rem;
  transform: rotate(10deg);
}
.hero-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.hero-content {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}
.hero-content {
  h1 {
    font-size: 56px;
    color: var(--gold);
  }
}
.hero_subtitle {
  font-size: 18px;
  line-height: 30px;
}
.hero-btns {
  display: flex;
  gap: 2rem;
}
.btn-pink-solid a,
.btn-pink-trans a {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.btn-pink-solid {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 15px;
  background: rgb(77, 17, 123);
  background: linear-gradient(
    143deg,
    rgb(77, 17, 123) 0%,
    rgb(217, 0, 159) 100%
  );
  color: #fff;
  cursor: pointer;
}
.btn-pink-solid a {
  color: var(--txt);
}
.btn-pink-solid:hover {
  background: rgb(217, 0, 159);
  box-shadow: 0px 0px 10px 10px rgba(201, 2, 214, 0.2);
}
.btn-pink-trans {
  background: none;
  border: none;
}
.btn-pink-trans a {
  color: rgb(214, 38, 188);
}
.btn-pink-trans a:hover {
  color: var(--txt);
}
@media screen and (max-width: 1175px) {
  .hero-logo {
    right: -1rem;
  }
}
@media screen and (max-width: 1000px) {
  .hero-img-dec {
    margin-top: -40rem;
  }
  .hero-box {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    max-height: unset;
  }
  .hero-content {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-img-box {
    width: 100%;
  }
  .hero-content-box {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .hero-img {
    height: 18rem;
    width: 18rem;
  }
  .hero-img-dec {
    width: 22rem;
  }
  .hero-img-border {
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .hero-img {
    height: 15rem;
    width: 15rem;
  }
  .hero-img-dec {
    width: 19rem;
  }
  .hero-img-border {
    width: 17rem;
  }
}
