:root {
  --bg: #030408;
  --bg-dark: #030408;
  --txt: #fff;
  --blue: rgb(123, 210, 213);
  --dark-blue: #1e5688;
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  background: radial-gradient(#786600 0%, #260021 30%, #120917 100%);
  background-size: 200rem 200rem;
  background-position: left 0 top -100rem;
  color: rgb(228, 228, 228);
}

p {
  color: rgb(190, 190, 190);
}

h1,
h2,
h3,
h4 {
  font-family: "Titillium Web", sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

a,
button {
  font-family: "Titillium Web", sans-serif;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(224, 224, 224);
}

.App {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  color: rgb(224, 224, 224);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1252px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-hor,
.wrapper-ver {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper-hor {
  align-items: center;
  justify-content: space-between;
}

.cta-btn {
  background-color: var(--blue);
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  border: none;
  padding: 0.5rem 1.7rem;
}

.cta-btn:hover {
  color: var(--bg-dark);
  background-color: #fff;
}

.title {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 3px;
  color: var(--gold);
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title a:hover {
  color: #ad02a7;
}

/* SELECT */

select {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  option {
    color: var(--bg-dark);
  }
  &:focus {
    outline: none;
  }
}

/* SEARCH BOX */

input:focus {
  outline: none;
}

.search-box {
  width: 100%;
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-box input {
  font-family: "Titillium Web", sans-serif;
  background-color: rgba(255, 255, 255, 0.236);
  backdrop-filter: blur(5px);
  width: 350px;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 60px;
  color: #fff;
}
.search-box input::placeholder {
  color: rgb(200, 200, 200);
}

.currencies-page,
.exchanges-page,
.login-page,
.reg-page,
.dsh-page {
  min-height: 70vh;
}

.page {
  margin-top: 100px;
}

.reg-page {
  height: 90vh;
  display: flex;
}

.reg-content {
  height: 100%;
  width: 50%;
}

.reg-poster {
  height: 100%;
  width: 50%;
}

.reg-img-wrap {
  height: 26rem;
  width: 26rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(65, 0, 57);
  background: linear-gradient(
    143deg,
    rgb(40, 0, 35) 0%,
    rgba(255, 46, 224, 0.625) 70%
  );
  box-shadow: 0px 0px 80px 30px rgba(247, 148, 254, 0.307);
}

.reg-img {
  height: 25rem;
  width: 25rem;
  border-radius: 100%;
  object-fit: scale-down;
  background-color: #030408;
}

.reg-poster {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/bg-nebula.jpg");
}

.reg-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.form-control {
  font-family: "Titillium Web", sans-serif;
  background-color: rgba(255, 255, 255, 0.236);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 60px;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.form-group .btn-pink-solid {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.form {
  width: 50%;
  margin-top: 1.5rem;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  width: 50%;
  font-size: 20px;
}

.heading h1 {
  font-size: 30px;
}

#log-poster {
  background: url("./images/log-poster.jpg");
  background-size: cover;
  background-position: center;
}

.btn-pink-solid,
.btn-pink-trans {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.btn-pink-solid {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 15px;
  background: rgb(77, 17, 123);
  background: linear-gradient(
    143deg,
    rgb(77, 17, 123) 0%,
    rgb(217, 0, 159) 100%
  );
  color: #fff;
  cursor: pointer;
}

a.btn-pink-solid,
.btn-pink-solid {
  color: var(--txt);
}

a.btn-pink-solid:hover,
.btn-pink-solid:hover {
  background: rgb(217, 0, 159);
  box-shadow: 0px 0px 10px 10px rgba(201, 2, 214, 0.2);
}

.btn-pink-trans {
  background: none;
  border: none;
}

.btn-pink-trans a {
  color: rgb(214, 38, 188);
}

.btn-pink-trans a:hover {
  color: var(--txt);
}

section {
  width: 100%;
  margin-bottom: 100px;
}

section .title {
  margin-bottom: 30px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper.hor {
  flex-direction: row;
  align-items: center;
}

main {
  height: 100%;
}

a,
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* PAGES */

.page {
  width: 100%;
}

.page_title {
  letter-spacing: 2px;
  color: var(--gold);
  text-align: center;
  margin-bottom: 30px;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  background: var(--bg-dark);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ad02a7;
  -webkit-transition: 0.3s;
  &:hover {
    background-color: #c007b9;
  }
}

/* REGISTER PAGE */

.reg_section {
  height: 50vh;
}
.reg_wrapper {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.reg_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

/************************************ MEDIA QUERIES ***************************************/

@media screen and (max-width: 1360px) {
  .container {
    max-width: unset;
  }
}
